# Atividade 1

In [206]:
#list de times já em ordem

times_em_colocacao_decrescente = ['Liverpool', 'Barcelona', 'Arsenal', 'Inter de Milão', 'Atlético Madrid']

In [212]:
# a)

print(times_em_colocacao_decrescente[0:3]) #fatiamento

['Liverpool', 'Barcelona', 'Arsenal']

In [208]:
# b)

print(times_em_colocacao_decrescente[3:5]) #fatiamento

['Inter de Milão', 'Atlético Madrid']

In [209]:
# c)

print(sorted(times_em_ordem_alfabetica_crescente))

['Arsenal', 'Atlético Madrid', 'Barcelona', 'Inter de Milão', 'Liverpool']

In [210]:
# d)

print(times_em_colocacao_decrescente.index('Barcelona') + 1) #puxa o index da str e arruma a colocação

2

# Atividade 2

In [203]:
#sets para cada loja

loja1 = {"iPhone 13", "Galaxy S22", "Xiaomi Mi 11", "Moto G100"}
loja2 = {"iPhone 13", "Galaxy S22", "OnePlus 9", "Moto G100"}
type(loja1)

set

In [204]:
#modelos disponíveis no total

print(loja1.union(loja2))

{'Moto G100', 'OnePlus 9', 'Xiaomi Mi 11', 'iPhone 13', 'Galaxy S22'}

In [205]:
#modelos disponíveis em ambas as lojas

print(loja1.intersection(loja2))

{'Galaxy S22', 'Moto G100', 'iPhone 13'}

# Atividade 3

In [215]:
#dict para guardar as informações dos alunos

aluno = {}

In [216]:
#chave do nome

aluno["nome"] = input("Nome do aluno: ")

Nome do aluno: Júlio

In [217]:
#chave da média

aluno["media"] = float(input("Média do aluno: "))

Média do aluno: 70

In [218]:
#chave da situação

aluno["situacao"] = "AP" if aluno["media"] >= 50 else "RP"

In [221]:
print(aluno)

{'nome': 'Júlio', 'media': 70.0, 'situacao': 'AP'}

# Atividade 4

In [239]:
#list para ler as informações

pessoas = []
for i in range(3):
    nome = input(f"Nome da {i+1}ª pessoa: ")
    peso = float(input(f"Peso da {i+1}ª pessoa: "))
    pessoas.append((nome, peso)) #informações armazenadas em tuplas

Nome da 1ª pessoa: João
Peso da 1ª pessoa: 70.5
Nome da 2ª pessoa: Ana
Peso da 2ª pessoa: 46.2
Nome da 3ª pessoa: Paulo
Peso da 3ª pessoa: 81.9

In [240]:
#a pessoa mais pesada

print(max(pessoas)[0])

Paulo

In [241]:
#a pessoa menos pesada

print(min(pessoas)[0])

Ana

# Atividade 5

In [236]:
#leitura das informações

n = int(input("Quantas pessoas no grupo? "))
grupo = []

for i in range(n):
    nome = input(f"Nome da {i+1}ª pessoa: ")
    idade = int(input(f"Idade: "))
    sexo = input(f"Sexo (M/F): ").upper()
    grupo.append({"nome": nome, "idade": idade, "sexo": sexo})

Quantas pessoas no grupo? 4
Nome da 1ª pessoa: Ana
Idade: 32
Sexo (M/F): f
Nome da 2ª pessoa: João
Idade: 68
Sexo (M/F): m
Nome da 3ª pessoa: Joana
Idade: 15
Sexo (M/F): F
Nome da 4ª pessoa: Bia
Idade: 5
Sexo (M/F): F

In [ ]:
# a)

#média de idade
media_idade = sum(p["idade"] for p in grupo) / len(grupo)

print(media_idade)

In [238]:
# b)

#mulheres com menos de 20 anos
mulheres_menor_20 = sum(1 for p in grupo if p["sexo"] == "F" and p["idade"] < 20)

print(mulheres_menor_20)

2