In [5]:
import pandas as pd
import numpy as np

# 1)

In [6]:
df = pd.read_csv('/content/sample_data/paises.csv', delimiter=';')

In [7]:
oceania = df['Region'].str.contains('OCEANIA')

In [8]:
paises_oceania = df[oceania]

a)

In [9]:
paises_oceania['Country']

3            American Samoa
11                Australia
47             Cook Islands
67                     Fiji
71         French Polynesia
83                     Guam
108                Kiribati
130        Marshall Islands
136    Micronesia, Fed. St.
144                   Nauru
148           New Caledonia
149             New Zealand
153      N. Mariana Islands
157                   Palau
159        Papua New Guinea
176                   Samoa
187         Solomon Islands
203                   Tonga
209                  Tuvalu
217                 Vanuatu
221       Wallis and Futuna
Name: Country, dtype: object

b)

In [10]:
print(paises_oceania['Country'].size)
#print(paises_oceania['Country'].count())

21

# 2)

In [11]:
pais_maior_populacao = df[df['Population'] == df['Population'].max()]

In [12]:
pais_maior_populacao.loc[:,['Country','Region']]

   Country                         Region
42  China   ASIA (EX. NEAR EAST)

# 3)

In [13]:
group_region = df.groupby('Region')

In [14]:
group_region.describe()['Literacy (%)', 'mean']
#group_region.mean(['Literacy (%)'])['Literacy (%)']

Region
ASIA (EX. NEAR EAST)                   79.553571
BALTICS                                99.733333
C.W. OF IND. STATES                    98.725000
EASTERN EUROPE                         72.816667
LATIN AMER. & CARIB                    88.640000
NEAR EAST                              69.581250
NORTHERN AFRICA                        56.033333
NORTHERN AMERICA                       78.200000
OCEANIA                                71.914286
SUB-SAHARAN AFRICA                     61.284314
WESTERN EUROPE                         80.821429
Name: (Literacy (%), mean), dtype: float64

# 4)

In [15]:
paises_sem_costa = df[df['Coastline (coast/area ratio)'] == 0]

In [16]:
paises_sem_costa.to_csv('noCoast.csv', sep=';')

# 5)

In [20]:
def classificar_ajuda_humanitaria(taxa_morte):
    if taxa_morte < 9:
        return 'Balanced'
    else:
        return 'Urgent'

In [21]:
df['Humanitarian Help'] = df['Deathrate'].apply(classificar_ajuda_humanitaria)

In [28]:
df.loc[:,['Country', 'Deathrate', 'Humanitarian Help']]

             Country  Deathrate Humanitarian Help
0       Afghanistan       20.34            Urgent
1           Albania        5.22          Balanced
2           Algeria        4.61          Balanced
3    American Samoa        3.27          Balanced
4           Andorra        6.25          Balanced
..               ...        ...               ...
222       West Bank        3.92          Balanced
223  Western Sahara        0.00          Balanced
224           Yemen        8.30          Balanced
225          Zambia       19.93            Urgent
226        Zimbabwe       21.84            Urgent

[227 rows x 3 columns]